<header class="bg-white border-b border-croper-green/10 py-4 shadow-sm">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <a routerLink="/" class="text-2xl font-bold text-croper-green italic tracking-tighter">
      Croper
    </a>
    <nav class="flex gap-6 text-sm font-semibold text-croper-text">
      <a
        routerLink="/catalog"
        routerLinkActive="text-croper-green"
        class="hover:text-croper-green transition-colors"
        >Marketplace</a
      >
      <a
        routerLink="/auth/login"
        routerLinkActive="text-croper-green"
        class="hover:text-croper-green"
        >Entrar</a
      >
    </nav>
  </div>
</header>
